@import "tailwindcss";
.ck-editor__editable {
  background-color: #18181b !important;
  color: #d4d4d8 !important;
  border-color: #3f3f46 !important;
  min-height: 150px;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
}

.ck-toolbar {
  background-color: #27272a !important;
  border-color: #3f3f46 !important;
  border-radius: 0.5rem 0.5rem 0 0;
}

.ck-button .ck-button__label {
  color: #f4f4f5 !important;
}
